/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
/* CSS voor opdracht 2.1 */
.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* CSS voor opdracht 2.2 */
.two {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* CSS voor opdracht 2.3 */
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}
.three{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* CSS voor opdracht 2.4 */
div,form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS voor opdracht 2.5 */
div {
    display: flex;
    flex-direction: row;
}
